@charset "ISO-8859-1";

.cabecera{
	background-color: gray;
	text-align: center;
	padding-bottom:5%;
	text-decoration: overline;
	border-style: solid; color: black;
}

.container{
	background-color: aquamarine;
	text-align: center;
	padding: 15%;
	table-layout: auto;
	border-style: solid; color: black;
}

.hijo{
	background-color: aquamarine;
	text-align: center;
	padding: 15%;
	table-layout: auto;
	border-style: solid; color: black;
}

.compra{
	background-color: white;
	text-align: center;
	padding: 15%;
	table-layout: auto;
	border-style: solid; color: black;
	overflow: scroll;
	width: 500px;
	height: 100px;
}

.venta{
	background-color: white;
	text-align: center;
	padding: 15%;
	table-layout: auto;
	border-style: solid; color: black;
	width: 500px;
}

.padre{
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 5px;
}

.form-field{
	text-align: center;
	padding: 13%;
	table-layout: auto;
	border-style: solid; color: black;
}

.inform{
	background-color: aquamarine;
	text-align: center;
	padding: 10%;
	table-layout: auto;
	border-style: solid; color: black;
}



